@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
   box-sizing: border-box;
   background: #AA1945!important;
   font-family: 'Nunito', sans-serif!important;
}
.nav_bar{
    /* background-color: #F6F5F0; */
    background-color: #AA1945;
    width: 100%;
    height: 90px;
    position: fixed;
    padding: 14px 0px;
}
.navbar_wrap{
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* width: 100%; */
    padding: 0px 115px;
    position: relative;
}

.menu_bar{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    display: none;
}
.navbar_logo{
    height: 75px;
    width: 100%;
}
.navbar_links{
    border-left: 1px solid #fff;
    height: 49px;
    margin: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    transition: .5s ease-in-out;
}
.navbar_links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 0px;
    
}
.navbar_links ul li{
    margin-right: 52px;
}
.navbar_links ul li .nav-link{
    padding: 0rem 0rem!important;
    color: #fff!important;
    font-size: 17px;
    transition: slideup .5s ;
}

.navbar_links ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff; 
}
.toggle{
    left: -62px!important;
}



/*-----Home-----*/
.home_wrap{
    /* background-image:url("/assets/img/th (1).jpg") ; */
    /* background-size: contain;
    background-repeat: no-repeat; */
    height: 95vh;
    width: 100%;
    /* background-position-y: 90px; */
    padding-top: 116px;
    background:#fff;
    /* background: red; */
}
.home_wrap .nam_sec_txt{
    color: #AA1945;
    font-size: 130px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-shadow: -17px 19px 10px #000; 
}
.nam_sec_txt{
    font-weight: 700;
    color: yellow;
}
.title_box{
    color: #fff;
    border-top: 2px solid #AA1945;
    border-bottom: 2px solid #AA1945;
    height:auto;
    margin-bottom: 63px;
}
.title_box .title_txt{
    color: #AA1945;
    text-transform: uppercase;
    font-size:30px;
    margin-bottom: 0px;
}
.title_btn{
    background: #AA1945!important;
    border-radius: 0px!important;
    padding: 11px 63px!important;
    text-transform: uppercase;
    font-weight: 900!important;
    margin-bottom:38px;
    color: #fff!important;
}





.name_wrap{
    /* height:75vh;
    margin: auto;
    width: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 64px;
    background-image: url("/assets/img/newbg.png");
    background-repeat: no-repeat;
    background-size: cover; */




    background-color:#fff;
    color: #fff;
    width: 100%;
    height: 80vh;
    border-bottom-left-radius: 154px;
    /* border-radius: 10px; */
    /* margin-top: 50px; */
    display: block;
    text-align: center;
    /* line-height: 40px; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
/* .name_wrap::after{
    content: '';
    position: absolute;
    background-color: #f8f9fa;
    width: 588px;
    height: 608px;
    border-radius: 50%;
    top: 0;
    left: 6px;
    transform: translate(-49%,0);
    z-index: -1;
} */
.login_wrapper{
    padding-top: 90px;
}

.hd_container{
    width: 100%;
    height:auto;
    background: #fff;
    border-top-right-radius: 180px;
    padding-top:18px;   
}
.hd_wrap{
    width: 70%;
  
    height: auto;
    margin: auto;
    padding-top: 32px;
}
.contact_wrap{
    min-height: 100vh;
}
.hd_cont{
   padding-top: 90px;
}
.tp_box{
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.hd_top_box{
    display: flex;
    justify-content:space-between;
}
.icon_wrap{
    display: flex;
}
.icon_wrap i{
    margin-right: 8px;
    font-size: 18px;
}
.icon_wrap i{
    color: #AA1945;
}
.icon_wrap .eb_link{
    color: #AA1945!important;
    font-weight: 600;
    text-decoration: none!important;
}
.job_p{
    margin-bottom: 45px;
}
.user_circle{
    width: 285px;
    height: 302px;
    border-radius: 50%;
    /* border: 3px solid #AA1945; */
    margin: auto;
    margin-right: 40px;
    position: relative;
}
.file_i,.file_ii{
    font-size:219px;
    color: #aa1945;
    position: absolute;
    left: 79px;
}
.file_ii{
    position: absolute;
    left: 43px;
    top: 72px;
    font-size:219px;
    color: #aa19457a;
    animation: updown;
    animation-timing-function: ease;
    animation-duration: 1s;
}
@keyframes updown{
    from{
       top: 222px;
    }
    to{
       top: 71px;
    }
}


.home_name_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_details{
   color: #AA1945;
    width: auto;
    font-family: sans-serif;
    text-align: left;
    padding: 60px 0px;
}
.home_h4{
    font-size: 58px;
    margin-bottom: 9px;
}
.home_details .home_details_txt{
    font-size: 22px;
}
.btn_home{
    background: #AA1945!important;
    color: #fff!important;
    padding: 10px 55px!important;
    border-radius: 200px!important;
}
.circle_deatails{
    display: flex;
}

/*----form----*/
.form-box p{
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}
.form-box input{
    padding: 14px;
}
/* .form_row{
    margin-bottom: 2rem;
} */
.btn_box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}
.back_btn{
    border: 2px solid #AA1945!important;
    color: #AA1945!important;
    border-radius: 26px!important;
    padding: 10px 58px!important;
    font-weight: 900!important;
}
.back_btn:focus,.nxt_btn:focus{
   box-shadow: none!important;
}
.nxt_btn{
    background:  #AA1945!important;
    color: #fff!important;
    border-radius: 26px!important;
    padding: 10px 58px!important;
    font-weight: 900!important;
}
.last_row{
    margin-bottom: 60px;
}
.txt_area_row{
    margin-bottom: 50px;
}
.txt_area_box{
    padding-bottom: 71px;
}
.login_form{
    width: 456px;
}
.form-box:not(.no_box){
    margin-bottom: 34px;
}
.d_account{
    text-align: right;
}
.d_account p a{
    text-decoration: none;
    color: #AA1945;
}
.login_wrap{
    padding-bottom: 127px;
}
.sign_up{
    padding-bottom: 57px;
}
.arrow_back .arrow_bck,.arrow_back{
    color: #AA1945!important;
    font-weight: 800;
    text-decoration: none!important;
}


/*-----------footer-------------*/
.footer_wrapper{
    width: 100%;
    height: 33px;
    background: #AA1945;
    border-bottom: 2px solid #AA1945;
    padding-bottom: 36px;
    color: #fff;
}
.footer_wrapper .footer_cont{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
}
.reserved_txt{
    font-size: 14px;
    margin-right: 66px;
    margin-bottom: 0px;
    padding-top: 12px;


}
.footer_details{
    width: auto;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.terms{
    border: none;
    border-right: 2px solid #AA1945;
}
.terms .terms_p,.terms_link{
    text-decoration: none!important;
    color: #AA1945!important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0px;
    padding : 0px 6px;
}

.txt_area{
    width: 543px!important;
    height: 266px!important;
}


/*----navbar------*/
@media only screen  and (max-width:1282px) {
    .navbar_wrap{
        padding: 0px 50px;
    }
}
@media only screen  and (max-width:1124px) {
    .navbar_links ul li{
        margin-right: 33px;
    }
    .navbar_wrap{
        padding: 0px 0px 0px 50px;
    }
}
@media only screen  and (max-width:923px) {
    .navbar_links ul li{
        margin-right: 23px;
        margin-bottom: 55px;

    }
    .navbar_wrap,.navbar_links ul,.navbar_links{
        display: block;
    }
    .navbar_links{
        background: #AA1945;
        height:100vh;
        padding: 10px 0px;
        width: 291px;
        margin-top: 1px;
        /* margin-left: -51px!important; */
        position: relative;
        left:-353px;
        transition: .5s;
        z-index: 1000;
    }
    .navbar_links ul{
        padding-left: 30px;
        border-left:2px solid #fff ;
        margin-left: 13px;
        
    }
    .nav_lg{
        height: 100%;
    }
    .menu_bar{
        display: block!important;
        cursor: pointer;
    }
    .navbar_links ul li .nav-link{
         padding-bottom: 0rem;
    }
    .file_i, .file_ii{
        font-size: 150px;
    }

    .file_ii{
        top: 117px;
    }
    .file_i{
        top: 86px;
    }
    @keyframes updown{
        from{
           top: 222px;
        }
        to{
           top: 117px;
        }
    }
    .home_h4{
        font-size: 47px;
    }
    .home_details .home_details_txt{
        font-size: 15px;
    }
    .btn_home{
        padding: 7px 28px!important;
    }
}
@media only screen  and (max-width:1000px) {
    .navbar_links ul li a{
        font-size: 15px;
    }
    .home_wrap .nam_sec_txt{
        font-size: 86px;
    }
    .title_box .title_txt{
        margin-bottom:0px ;
    }
}
@media only screen  and (max-width:388px) {
    .navbar_links{
        width:100%;
        left: -400px;
    }
}
@media only screen  and (max-width:654px) {
    .circle_deatails{
        display: block!important;
    } 
    .user_circle{
        margin:auto;
    }
}
@media only screen  and (max-width:801px) {
    .circle_deatails{
        display: block!important;
        text-align: center;
    }
    .home_details{
        padding-top: 0px!important;
    }
}

@media only screen and (max-width:1153px){
    .hd_top_box h2{
        font-size: 26px;
    }
    .hd_container{
        border-top-right-radius: 60px;
    }
}
@media only screen  and (max-width:969px) {
    .hd_wrap{
      width: 90%;
    }
    .hd_top_box{
        display: block;
    }
}



/*--------foooter----*/
@media only screen  and (max-width:767px) {
   .form_b{
    margin-bottom: 17px;
   }
}
@media only screen  and (max-width:379px) {
    .back_btn,.nxt_btn{
        padding: 4px 30px!important;
    }
}
@media only screen  and (max-width:800px) {
    .footer_wrapper .footer_cont{
        display: block;
    }
    .txt_area{
        width: 100%!important;
    }
}
@media only screen  and (max-width:970px) {
    .txt_area_box{
        padding-bottom: 78px;
    }
}
@media only screen  and (max-width:528px) {
    .login_form{
        width: 100%;
    }
    .user_circle{
        display: none;
    }
}